# Ignore everything
/*

# Allow .config folder but not its content by default
.config/*

# Allow only specific folders inside .config
!.config
!.config/alacritty/
!.config/kitty/
!.config/nitrogen/
!.config/polybar/
!.config/qtile/
!.config/nvim/
!.config/vesktop/
.config/vesktop/*
!.config/vesktop/themes/
!.config/vesktop/settings/

# Other Dot Files
!.bashrc
!.dotpackage.json

# Ensure .gitignore and README.md are tracked
!.gitignore
!README.md

# Setup Script
!dotsetup.sh
