# Ignore everything
/*

# Allow .config folder but not its content by default
.config/*

# Allow only specific folders inside .config
!.config
!.config/alacritty/
!.config/kitty/
!.config/nitrogen/
!.config/polybar/
!.config/qtile/
!.config/nvim/

# Other Dot Files
!.bashrc
!dotsettings.json

# Ensure .gitignore and README.md are tracked
!.gitignore
!README.md
