# Ignore everything
/*

# Allow dotfiles folder but not its content by default
.config/*
.local/*

# Allow only specific folders inside dotfiles
!.config
!.config/alacritty/
!.config/kitty/
!.config/nitrogen/
!.config/polybar/
!.config/qtile/
!.config/nvim/
!.config/vesktop/
.config/vesktop/*
!.config/vesktop/themes/
!.config/vesktop/settings/
!.config/home-manager/
!.config/mpd/
.config/mpd/*
!.config/mpd/mpd.conf
!.config/rmpc/
!.config/yazi/

!.local
!.local/bin/
!.local/share/
.local/share/*
!.local/share/fonts/
!.local/share/applications/
.local/share/applications/*
!.local/share/applications/Rusty Music Player Client.desktop

# Other Dot Files
!.bashrc
!.dotpackage.json

# Ensure .gitignore and README.md are tracked
!.gitignore
!README.md

# Setup Script
!dotsetup.sh
