.modeSelected__2ea32 .link__2ea32, .modeSelected__2ea32 .link__2ea32 {
  background-color: var(--purple-3) !important;
}

.modeSelected__2ea32 .link__2ea32, .modeSelected__2ea32 .link__2ea32 .icon__2ea32 {
  color: #303446;
}

.modeSelected__2ea32 .link__2ea32, .modeSelected__2ea32 .link__2ea32 .name__2ea32 {
  color: #303446;
}

.modeSelected__2ea32 .link__2ea32, .modeSelected__2ea32 .link__2ea32 .actionIcon_c69b6d {
  color: #303446;
}

.iconVisibility_c69b6d:hover .link__2ea32 {
  background-color: var(--purple-3) !important;
}

.iconVisibility_c69b6d:hover .link__2ea32 .icon__2ea32 {
  color: #303446;
}

.iconVisibility_c69b6d:hover .link__2ea32 .name__2ea32 {
  color: #303446;
}

.iconVisibility_c69b6d:hover .link__2ea32 .actionIcon_c69b6d {
  color: #303446;
}
.visual-refresh #app-mount .side_aa8da2 .item_aa8da2:active, .side_aa8da2 .themed_aa8da2.item_aa8da2.selected_aa8da2 {
  background-color: var(--purple-3) !important;
  color: #303446 !important;
}

.visual-refresh #app-mount .side_aa8da2 .themed_aa8da2.item_aa8da2:hover:not(.disabled_aa8da2) {
  background-color: var(--purple-3) !important;
  color: #303446 !important;
}

.title_b6c092 {
  color: var(--yellow-3);
}

.container__35859 {
  border: none;
  background-color: var(--green-3);
}

.container__35859 .text__35859 {
  color: #303446 !important;
}

.container__35859 .icon__35859 {
  color: #303446 !important;
}

.top_aa8da2 .item_aa8da2.selected_aa8da2 {
  color: var(--yellow-3);
  border-bottom-color: var(--yellow-3) !important;
}

.top_aa8da2 .brand_aa8da2.item_aa8da2:hover {
  color: var(--yellow-3) !important;
}

.top_aa8da2 .item_aa8da2.selected_aa8da2:after, .top_aa8da2 .item_aa8da2:hover:after {
  background-color: var(--yellow-3) !important;
}

.winButtonClose_c38106:hover {
  color: #303446;
}

.vc-notification-root {
  border: var(--border-thickness) solid var(--purple-3);
  bottom: 1.25rem !important;
  right: 1.25rem !important;
  min-height: auto;
}

.e4491282b6a5364a-modal {
  border: var(--border-thickness) solid var(--purple-3);
}

.c69b6db0641110f6-containerDefault ._2ea32c412048f708-icon {
  color: #838ba7;
}

.c69b6db0641110f6-containerDefault ._2ea32c412048f708-name {
  color: #838ba7;
}

._2ea32c412048f708-modeUnreadImportant ._2ea32c412048f708-unreadImportant {
  background-color: var(--purple-3);
}

._2ea32c412048f708-modeUnreadImportant ._2ea32c412048f708-name {
  color: var(--purple-3);
}

._2ea32c412048f708-modeUnreadImportant ._2ea32c412048f708-icon {
  color: var(--purple-3)
}

._29444ba32c7fbeab-containerDefault .b0dfc2ed9c57037d-overflow {
  color: var(--yellow-3);
}

.f75fb00fb7356cbe-title ._9293f6b2fc12398a-title {
   color: var(--purple-3)
}

.f75fb00fb7356cbe-title ._9293f6b2fc12398a-channelIcon ._9293f6b2fc12398a-icon {
   color: var(--purple-3)
}

._2ea32c412048f708-modeSelected ._2ea32c412048f708-name {
  color: var(--purple-3);
}

._2ea32c412048f708-modeSelected ._2ea32c412048f708-icon {
  color: var(--purple-3)
}

.c8ffbb79449f399c-membersGroup .c8ffbb79449f399c-membersGroupHeader {
  color: var(--yellow-3);
}